.is-status {
  &--firing {
    color: $error-color;
  }
  &--dot-critical,
  &--dot-normal {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-right: $base-ratio-px;
    margin-top: -1px;
  }
  &--dot-critical {
    background-color: $error-color;
  }
  &--dot-normal {
    background-color: $success-color;
  }
}